<div class="row" id="custom-bag-header">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="bag-logo-text">Choose Your Packaging</h1>
		Use our packaging calculator to choose a perfectly sized box or bag for your equipment
		<hr noshade color=#eeeeee><br>
	<button id="package-calculator-btn" class="btn btn-primary large-submit-btn"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Launch Calculator</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		Selected Packaging:
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 selected-packaging">


	</div>
</div>
