<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
        	        <a class="navbar-brand" href="#">
                	        <img alt="Ship Sticks" src="//cdn.shipsticks.com/assets/new-ship-page/shipsticks/brand_logo_white-0f5ad274f42fc37cbddd3b4b7528b78b.svg" class="v2-logo" >
	                </a>
        	        <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-labels="Toggle Navigation">
                	        <span class="navbar-toggler-icon"></span>
	                </button>
                	<div class="collapse navbar-collapse" id="navbar-content">


<ul class="nav navbar-nav navbar-right ml-auto"><li class="dropdown" id="login-dropdown-li"><a class="dropdown-toggle login" data-toggle="dropdown" href="javascript:void(0);" onclick="register_login_popup(event);" tab-name="login-tab" aria-expanded="false"><span><img alt="Phone Icon" class="nav-icon" src="//cdn.shipsticks.com/assets/new-ship-page/shared/lock_gray_icon-44405eb330be6dce769ddfc533ebd573.svg"></span>Login</a></li><li class="hidden-xs hidden-sm or-symbol">|</li><li><a class="registration" href="javascript:void(0);" onclick="register_login_popup(event);" tab-name="registration-tab"> Register</a></li><li><a href="tel:561 429-3900"><span><img alt="Phone Icon" class="nav-icon" src="//cdn.shipsticks.com/assets/new-ship-page/shared/phone_icon-a4638cec39b0e96f2b7640da92d79511.svg">(561) 429-3900</span></a></li></ul>

        	        </div>
	</div>
</nav>

